
<div class="container">
  <div class="row">
  <div class="col-lg-6 mx-auto">
    <%= simple_form_for @organisation, html: { class: "organisation-form-container"} do |f| %>
    <%= f.input :name, label: t('organisations._form.name')%>
    <%= f.input :address, input_html: {id: "location"}, label: t('organisations._form.address') %>
    <%= f.input :description, label: t('organisations._form.story'), :input_html => { 'rows' => 9, autocomplete: 'off'}%>
    <%= f.input :email, label: t('organisations._form.email')%>
    <%= f.input :phone_number, label: t('organisations._form.phone') %>
    <%= f.input :logo, class: "form-control-file mx-auto", style: "margin: 0 auto;" %>
     <%= f.button :submit, label: t('organisations._form.insert') class: "btn btn-primary" %>
    <% end %>

  </div>
  </div>
</div>

