
<div class="organisation-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-offset-1 col-xs-10 organisation-content">


        <div class="avatar-top-part">
          <!-- Organisation logo -->
          <% if !@organisation.logo.url %>

            <div class="avatar-organisation-page" style="background-image: url('<%= cl_image_path "http://lorempixel.com/200/200/sports/" %>')">
            </div>


          <% else %>

            <div class="avatar-organisation-page" style="background-image: url('<%= cl_image_path @organisation.logo.url %>')">
            </div>

          <% end %>
        </div>


        <div class="organisation-top-part">

          <div class="organisation-details">
            <div class="organisation-name"> <%= @organisation.name %></div>

            <div class="orga-details-banner">

              <div class="orga-details-left">
                <div class="detail-item"><strong>Address</strong><br><%=@organisation.address%></div>
                <div class="detail-item"><strong>Phone Number</strong><br><%=@organisation.phone_number %></div>
                <div class="detail-item"><strong>Contact Email</strong><br><%=@organisation.email %></div>
              </div>

              <div class="orga-details-right">
                <div><strong>A brief history:</strong> <%=@organisation.description %></div>
              </div>
            </div>


              <div class="orga-edit-actions">

                <%= link_to edit_organisation_path(@organisation.id) do %>
                <div class="edit-orga-button"> Edit Your Organization</div><% end %>

                <%= link_to new_race_path do %>
                <div class="add-orga-button">Add a new race</div>
                <% end %>

                <%= link_to organisation_path(@organisation.id), method: :delete, data: {confirm: 'Are you really wanna delete your organisation? If u have some races in the database u will not able to complete the cancellation?'} do %>
                  <div class="delete-orga-button">Delete Your organisation</div>
                  <% end %>


              </div>

          </div> <!-- closing organisation top right page -->

        </div> <!-- closing organisation top page -->




          <hr class="hr-text-organisation-page" data-content="Your Races">


            <div class="container">
              <div class="row">


                <% if !@organisation.races.any? %>

                  <h1>You don't have any race yet. Add your first race!</h1>

                <% elsif @organisation.races.any? %>


                  <% @races.each do |race| %>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4">

                        <div class="card-race">
                          <div class="card-race-header-orga" style="background-image: linear-gradient(rgba(0, 0, 0, 0.23), rgba(0, 0, 0, 0)), url('<%= cl_image_path race.photo, height: 300, width: 400, crop: :fill if race.photo.url %>')">

                            <div class="card-race-top-left-container">
                              <p class="hit-name card-race-title"><%= race.name %></p>
                              <i class="fas fa-map-marker-alt card-race-marker"></i>
                              <p class="hit-name card-race-location"><%= race.location %></p>

                            </div> <!-- closing top left container -->

                            <%= link_to race_path(race.id), method: :delete, data: {confirm: 'Are you really wanna delete your Race? If u have some subscription for the race u will not able to complete the cancellation'}, class: "card-race-delete" do %> <i class="fas fa-trash"></i>
                              <% end %>

                            <div class="card-bottom-orga-button-container">
                              <div class="container">
                                <div class="row">
                                  <div class="col-xs-6 no-padding">
                                    <div class="orga-race-action-button">
                                      <%= link_to "See race", race_path(race.id) %>
                                    </div>
                                  </div>
                                  <div class="col-xs-6 no-padding">

                                      <% if race.bookable && race.orders %>
                                      <div class="orga-race-action-button">
                                        <%= link_to "Registrations", race_subscriptions_path(race.id) %>
                                      </div>
                                      <% end %>
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="col-xs-6 no-padding">
                                    <div class="orga-race-action-button">
                                      <%= link_to "Edit race", edit_race_path(race.id) %>
                                    </div>
                                  </div>
                                  <div class="col-xs-6 no-padding">
                                    <div class="orga-race-action-button">
                                      <%= link_to "Add Photos", new_race_photo_path(race.id) %>
                                    </div>
                                  </div>
                                </div>
                              </div> <!-- closing container for bootstrap -->

                            </div> <!-- closing card bottom orga button container -->

                          </div> <!-- closing card race header -->
                      </div> <!-- closing card race div -->
                    </div> <!-- closing col -->
                  <% end %> <!-- closing loop over races -->
                <% end %> <!-- closing elsif any races -->



              </div> <!-- closing col -->
            </div> <!-- closing container -->





         </div> <!-- closing organisation races -->


       </div> <!-- closing col -->
    </div> <!-- closing row -->
  </div> <!-- closing container -->
</div> <!-- closing organisation wrapper -->










