<div class="container">
  <div class="row">
    <div class="col-lg-8 mx-auto">
      <h1 class="lead"><%= @organisation.name %></h1>
      <p> <strong>Address: </strong> <%= @organisation.address %></p>
      <p> <strong>Email: </strong><%= @organisation.email %></p>
      <p> <strong>Description</strong><%= @organisation.description %></p>
      <p> <strong>Phone numbers</strong><%= @organisation.phone_number %></p>

      <% if @organisation.races %>
      <div class="row py-4">
        <div class="col-sm-12">
          <h1>Your Next Races</h1>
        </div>
        <% @organisation.races.each do |race| %>
        <div class="col-lg-3 col-md-4">
          <div class="card" style="width: 20rem;">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-block">
              <h4 class="card-title">Card title</h4>
              <p class="card-text"></p>
              <%= link_to "Race Page", race_path(race.id) %>
            </div>
          </div>
        </div>
        <% end %>
      </div>
      <% end %>



      <%= link_to "Edit your organisation", edit_organisation_path(@organisation.id)  %>

      <%= link_to "Delete Your organisation", organisation_path(@organisation.id), method: :delete, data: {confirm: 'Are you really wanna delete your organisation? If u have some races in the database u will not able to complete the cancellation?'} %>

    </div>
  </div>
</div>

