<div class="container">
  <div class="row py-5">
    <div class="col-lg-3 col-md-4 hide-sm">
      <% if !@organisation.logo %>
      <img src="http://lorempixel.com/200/200/sports/" class="avatar-org-showpage  float-left">
      <% else %>
      <%= cl_image_tag @organisation.logo.url, crop: :fill, class: "avatar-org-showpage  float-left"%>

      <% end %>
    </div>

    <div class="col-lg-9 col-md-8 col-sm-12">
      <div>
        <h1 class="display-2"> <%= @organisation.name %></h1>
        <p class="userlabel"><strong class="h3">Address </strong><%=@organisation.address%></p>
        <p class="userlabel"><strong class="h3">Phone Number:  </strong><%=@organisation.phone_number %></p>
        <p class="userlabel"><strong class="h3">Contact Email:  </strong><%=@organisation.email %></p>
        <p class="userlabel"><strong class="h3">A brief history: <br> </strong><%=@organisation.description %></p>


        <%= link_to edit_organisation_path(@organisation.id) do %>
        <p class="user-page-link mt-4"><i class="fas fa-edit"></i> Edit Your Organization</p>
        <% end %>
        <%= link_to organisation_path(@organisation.id), method: :delete, data: {confirm: 'Are you really wanna delete your organisation? If u have some races in the database u will not able to complete the cancellation?'} do %>
        <p class="user-page-link"><i class="fas fa-exclamation-triangle"></i>
        Delete Your organisation</p>
        <% end %>


      </div>
    </div>
  </div>

</div>




<% if @races %>
<div class="container">
  <h1 class= "lead-2 my-4"> Your Races</h1>
  <div class="row">
    <% @races.each do |race| %>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
      <div class="card-race">
        <div class="card-race-header" style="background-image: url('http://res.cloudinary.com/dxkimzdwk/image/upload/v1519895648/suuntoutmb.jpg')">
          <p class="hit-name card-race-title"><%= race.name %></p>
          <i class="fas fa-map-marker-alt card-race-marker"></i>
          <p class="hit-name card-race-location"><%= race.location %></p>
          <div class="star-container">
            <% 3.times do %>
            <i class="fas fa-star card-race-star"></i>
            <% end %>
            <% (5 - 3).times do %>
            <i class="far fa-star card-race-star"></i>
            <% end %>
          </div>

          <i class="far fa-heart card-race-favorite"></i>
        </div>
        <div class="card-race-body">
          <p class="hit-name element lead"><%= link_to "Manage the race", race_path(race.id), class: "btn btn-primary" %></p>

          <p class="lead hit-name element last">
            <% if race.bookable && race.orders %>
            <%= link_to "Subscription list", race_subscriptions_path(race.id), class: "btn btn-primary" %>
            <% end %>
          </p>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
<% end %>







