<div class="container race-show-container">
  <div class="row">


    <!-- LEFT PART -->
    <div class="col-xs-12 col-sm-12 col-md-6">

      <div class="show-left">
        <div class="show-left-header">
          <h1><%= @race.name %></h1>


          <!-- INFO HEADER -->
          <div class="container">
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-4 no-padding">
                <div class="header-element">
                  <span class="cat-icon">cat</span>
                  <%=@race.category.upcase%>
                </div>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-4 no-padding">
                <div class="header-element">
                  <%= @race.race_distance%> km
                  <% if @race.elevation %>
                  <i class="fas fa-map"></i>
                  <%= @race.elevation%>D+
                  <% end %>
                </div>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-4 no-padding">
                <div class="header-element last">
                  <i class="fas fa-map-marker-alt"></i>
                  <%=@race.location%>
                </div>
              </div>
              <div class="race-date-header">
                <i class="fas fa-calendar-alt"></i> <%=@race.date%>
              </div>
            </div>
          </div>

          <!-- RACE INFOS -->

        </div>
        <div class="race-info">

          <div class="race-info-header">
            Race info
          </div>
          <div class="container-race-descr">
            <p class ="race-text-description"> <%= @race.description%>
            </p>
            <i class="fas fa-angle-up"></i>
            <i class="fas fa-angle-down"></i>
          </div>

          <div class="race-organizer">
            <p >Organizer: <span class="green-highlight"><%= link_to organisation_path(@organizer.id) do%> <%= @organizer.name %> <% end %></span></p>
            <p>Website <span class="green-highlight"><a href="<%= @race.website %>"> <%=@race.website%></a></span></p>
          </div>
          <div class="race-venue">
            <p>Starting Point: <span class="green-highlight"> <%= @race.starting_point %></span> </p>
            <p>Starting time: <span class="green-highlight"><%= @race.starting_time.strftime('%I:%M%p') %></span></p>
          </div>
          <div class="race-goodies">
            <p class=""><span class="green-highlight">Goodies: </span> <%= @race.goodies %></p>
          </div>
        </div>


      </div>
    </div>


    <!-- RIGHT PART -->


    <div class="col-xs-12 col-sm-12 col-md-6">
      <div class="show-right">

        <!-- PHOTOS -->
        <div class="photo-container">


            <!-- IMPORT HERE PHOTOS CARROUSEL -->



          <% if @race.photo %>
          <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner" style=" text-align:center">
              <div class="carousel-item active text-center mx-auto">
                <%= cl_image_tag @race.photo.url, crop: :fill, class: "  img-fluid carousel-img", style: "display: inline-block"%>
              </div>
            <% if @race.photos %>
               <% @race.photos.each do |photo| %>

              <div class="carousel-item" style=" text-align:center">
                <%= cl_image_tag photo.photo.url, crop: :fill, class: " img-fluid carousel-img", style: "display: inline-block"%>
              </div>
              <% end %>
              <% end %>
              <% if @race.video %>
              <% end %>
                <div class="carousel-item" style=" text-align:center">
                  <iframe width="420" height="370"
                  src=<%= @race.video %>>
                  </iframe>
                </div>
              <% end %>

            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
          <% end %>
        </div>


        <!-- PRICNG -->
        <div class="pricing-container">
          <p class="race-fee-logo">Race fee: <%= humanized_money_with_symbol(@race.fee_cents)%></p>
          <% if @race.discount_fee_cents %>
          <div class="promo-alert-wrapper">
            <div class="promo-alert"> Enjoy an early bird fee </div>
            <div class="promo-alert">subscription rate of </div>
            <div class="promo-alert"><%= humanized_money_with_symbol(@race.discount_fee_cents)%> until <%= @race.discount_fee_finish %>!</div>
          </div>
          <% end %>
          <p class="price-details">The subscription for <%= @race.name %> are opened from the <span style="font-weight: bolder"><%= @race.subscription_start.strftime("%e %b %Y ") %></span> and will close on the <span style="font-weight: bolder"><%= @race.subscription_end.strftime("%e %b %Y ") %></span>. The maximum race capacity is <span style="font-weight: bolder"><%= @race.capacity %> participants</span></p>

          <% if user_signed_in? %>
          <%= link_to "Subscribe online", new_race_order_path(@race.id), class: "button-register" %>

          <% else %>

            <button type="button" class="button-register" data-toggle="modal" data-target="#exampleModal">
            Subscribe online
            </button>
          <% end %>
        </div>

      </div>
    </div>

  </div>

  <!-- Race path map -->
  <% if @race.route %>
  <div id="map" style="height:400px; width: 100%;">
  </div>
  <% end %>

<!-- RATES and ROUTE MAP -->
  <div class="footer-container">
    <!-- rates container -->
    <% if @race.reviews %>

      <div class="rates-container">
        <div class="race-rating-header">
            Rating
        </div>

          <div class="rates-wrapper">
            <% if @race.route_rate_avg && @race.organisation_rate_avg && @race.value_for_money_avg %>
            <div class="race-rates">Route <br><span class="green-highlight"><%= @race.route_rate_avg.round(1) %> / 10</span>
            </div>
            <div class="progress">
              <div class="progress-bar" style="width:<%= @race.route_rate_avg*10 %>%">
              </div>
            </div>

            <div class="race-rates">Organisation <br><span class="green-highlight"><%= @race.organisation_rate_avg.round(1) %> / 10</span>
            </div>
            <div class="progress">
              <div class="progress-bar" style="width:<%= @race.organisation_rate_avg*10 %>%">
              </div>
            </div>

            <div class="race-rates">Value for money <br><span class="green-highlight"><%= @race.value_for_money_avg.round(1) %> / 10</span>
            </div>
            <div class="progress">
              <div class="progress-bar" style="width:<%= @race.value_for_money_avg*10 %>%">
              </div>
          </div>
          <% end %>
        </div>
      </div>
    <% end %>

    <!-- Race path map -->
    <div class="map-route">
      <% if @race.route %>
        <div id="map" style="height:400px; width: 100%;z-index: 1;">
        </div>
      <% end %>
    </div>
  </div>

<!-- ORGANISER ACTIONS -->
<div class="organizer-actions">
  <%= link_to "Edit your race", edit_race_path(@race.id), class: "organizer-actions-button"  %>
  <%= link_to "Delete Your Race", race_path(@race.id), method: :delete, data: {confirm: 'Are you really wanna delete your Race? If u have some subscription for the race u will not able to complete the cancellation'}, class: "organizer-actions-button" %>
  <%= link_to "Manage your photo", new_race_photo_path(@race.id), class: "organizer-actions-button" %>
</div>



<!-- REVIEWS -->

  <div class="race-reviews-container">



<% if user_signed_in? %>
    <hr class="hr-text" data-content="Leave a review">
      <%= render 'reviews/form', race: @race, review: @review unless @race.has_reviewed?(current_user) %>
<% end %>

    <hr class="hr-text" data-content="What people say about this race">

    <div id="reviews">
      <% @reviews.each do |review| %>

      <div class="existing-review">

<!-- AVATAR -->
        <div class="existing-review-user">

          <div class="avatar-review" style="background-image: url('<%= image_path "http://res.cloudinary.com/dxkimzdwk/image/upload/v1520413859/fakeprofile#{rand(1..4)}.jpg"%>')">
          </div>


          <p><%= review.user.first_name %> <br> <%=  review.user.last_name %></p>
        </div>
<!-- RATES  -->
        <div class="existing-review-rate">
          <div class="review-rates-wrapper">

            <div class="race-rates">Route <span class="green-highlight"><%= review.route_rate.round(0) %> / 10</span>
              </div>
              <div class="progress">
                <div class="progress-bar" style="width:<%= review.route_rate*10 %>%">
                </div>
              </div>
              <div class="race-rates">Organisation <span class="green-highlight"><%= review.organisation_rate.round(0) %> / 10</span>
              </div>
              <div class="progress">
                <div class="progress-bar" style="width:<%= review.organisation_rate*10 %>%">
                </div>
              </div>
              <div class="race-rates">Value for money <span class="green-highlight"><%= review.value_for_money.round(0) %> / 10</span>
              </div>
              <div class="progress">
                <div class="progress-bar" style="width:<%= review.value_for_money*10 %>%">
                </div>
              </div>
            </div>

        </div>
        <div class="existing-review-content">
          <p><%= review.description %></p>
        </div>
      </div>

      <% end %>
    </div>
  </div>

</div>











<!-- modal for signup
-->

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-login" role="document">
    <div class="modal-content">
      <div class="modal-header modal-header-custom">
        <!-- <h5 class="modal-title" id="exampleModalLabel">Modal title</h5> -->
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= render "devise/sessions/new", resource: User.new %>
      </div>
    </div>
  </div>
</div>








  <script>
    <% if @race.route  %>
    var data =  <%= raw @race.route.pathfile %>;
    <% end %>
    console.log(data);
    generate_route(data);

    function generate_route(array){
      var map = L.map('map',{
        center: [43.64701, -79.39425],
        zoom: 15
      });

      var latlngs = array
      var polyline = L.polyline(latlngs, {color: 'red'}).addTo(map);
      map.fitBounds(polyline.getBounds());
      console.log(array);

      L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
      }).addTo(map);
    }
  </script>

