

<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script src="http://mrmufflon.github.io/Leaflet.Elevation/example/lib/elevation/Leaflet.Elevation-0.0.2.min.js"></script>


<div class="container py-5">
  <div class="row">
    <div class="col-lg-8 mx-auto">

      <h1 class="display-1"><%= @race.name %></h1>
      <p> <strong>Category: </strong> <%= @race.category %></p>
      <p> <strong>Distance: </strong> <%= @race.distance %></p>
      <p> <strong>Elevation: </strong> <%= @race.elevation %></p>
      <p> <strong>Location: </strong> <%= @race.location %></p>
      <p> <strong>Date: </strong> <%= @race.date.strftime("%e %b %Y ") %></p>
      <p> <strong>Starting Point: </strong> <%= @race.starting_point %></p>
      <p> <strong> Price </strong>: <%= humanized_money_with_symbol(@race.fee) %></p>
      <% if @race.discount_fee_cents %>
      <p> <strong> DISCOUNT PRICE AVAIBLE!</strong> Untill the <%= @race.discount_fee_finish%> is possible register at <%= @race.name %> just paying <%= humanized_money_with_symbol(@race.discount_fee_cents) %></p>
      <% end %>

      <h2>Organized By</h2>
      <p> <%= @race.organisation.name %></p>
      <p> <%= @race.organisation.email %></p>
      <!-- <div id="map" style="height:400px; width: 100%;"></div> -->

      <div id="reviews">
      <% @reviews.each do |review| %>
      <div>
      <p><%= review.description %></p>
      <p><%= review.route_rate %></p>
      <p><%= review.organisation_rate %></p>
      <p><%= review.value_for_money %></p>
      </div>
      <% end %>
      </div>

       <%= render 'reviews/form', race: @race, review: @review %>

      <%= link_to "Edit your race", edit_race_path(@race.id)  %>
      <%= link_to "Delete Your Race", race_path(@race.id), method: :delete, data: {confirm: 'Are you really wanna delete your Race? If u have some subscription for the race u will not able to complete the cancellation'} %>


      <% if user_signed_in? %>
      <%= form_tag race_orders_path(@race.id) do %>
      <%= hidden_field_tag 'race_id', @race.id %>
      <%= submit_tag 'Register at the Race and pay online', class: 'btn btn-primary' %>
      <% end %>

      <% else %>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        Launch demo modal
      </button>
      <% end %>

      <%= link_to "Manage your photo", new_race_photo_path(@race.id) %>

    </div>

  </div>
</div>


<!-- modal for sugnup
-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <!-- <h5 class="modal-title" id="exampleModalLabel">Modal title</h5> -->
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= render "devise/registrations/new", resource: User.new %>
      </div>
    </div>
  </div>
</div>

<!-- end modal for signup
-->




<script>
  <% if @race.route  %>
  var data =  <%= raw @race.route.pathfile %>;
  <% end %>
  console.log(data);
  generate_route(data);

  function generate_route(array){
    var map = L.map('map',{
      center: [43.64701, -79.39425],
      zoom: 15
    });

    var latlngs = array
    var polyline = L.polyline(latlngs, {color: 'red'}).addTo(map);
    map.fitBounds(polyline.getBounds());
    console.log(array);

    L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
      attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);
  }
</script>
