<div class="container race-show-container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6">

      <div class="show-left">
        <div class="show-left-header">
          <h1><%= @race.name %></h1>


          <div class="container">
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-4 no-padding">
                <div class="header-element">
                  <%=@race.category.upcase%>
                </div>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-4 no-padding">
                <div class="header-element">
                  <%= @race.distance%> km
                  <% if @race.elevation %>
                    <%= @race.elevation%>D+
                  <% end %>
                </div>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-4 no-padding">
                <div class="header-element last">
                  <%=@race.location%>
                </div>
              </div>
              <div class="race-date-header">
                  <i class="fas fa-calendar-alt"></i> <%=@race.date%>
              </div>
            </div>
          </div>








        </div>
        <div class="race-info">

          <div class="race-info-header">
            Race infos
          </div>
          <p class ="text-justify"> <%= @race.description%></p>


          <p ><strong>Organizer</strong>: <%= link_to organisation_path(@organizer.id) do%> <%= @organizer.name %> <% end %></p>
          <p><strong>Website</strong> <a href="<%= @race.website %>"> <%=@race.website%></a></p>
          <p>Starting Point: <%= @race.starting_point %></p>
          <p>Starting time: <%= @race.starting_time %></p>
          <p class="">Goodies: <%= @race.goodies %></p>
        </div>

        <% if @race.route %>

          <div id="map" style="height:400px; width: 800px;">
          </div>
        <% end %>
      </div>
    </div>


    <div class="col-xs-12 col-sm-12 col-md-6">
      <div class="show-right">
        <% if @race.photos %>


          <div id="carouselExampleControls" class="mt-5 carousel slide" data-ride="carousel">
            <div class="carousel-inner">
             <div class="carousel-item-active">
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>

              <%= link_to "Edit your race", edit_race_path(@race.id)  %>
              <%= link_to "Delete Your Race", race_path(@race.id), method: :delete, data: {confirm: 'Are you really wanna delete your Race? If u have some subscription for the race u will not able to complete the cancellation'} %>


              <% if user_signed_in? %>
                <%= link_to "subscribe online", new_race_order_path(@race.id) %>

              <% else %>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                Launch demo modal
                </button>
              <% end %>

              <%= link_to "Manage your photo", new_race_photo_path(@race.id) %>

            </div>

          </div>

        <% end %>

        <p>Price: <%= humanized_money_with_symbol(@race.fee_cents)%></p>
        <% if @race.discount_fee_cents %>
        <p class="alert alert-success"> Enjoy an early bird fee subscription rate until <%= @race.discount_fee_finish %> yuo can subscribe and pay just <%= humanized_money_with_symbol(@race.discount_fee_cents)%></p>
        <% end %>
        <p>The subscription for <%= @race.name %> are opened from the <%= @race.subscription_start.strftime("%e %b %Y ") %> and will close on the <%= @race.subscription_end.strftime("%e %b %Y ") %>. The maximum race capacity is <%= @race.capacity %> participants</p>

      </div>
    </div>

  </div>
<!-- modal for signup
-->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <!-- <h5 class="modal-title" id="exampleModalLabel">Modal title</h5> -->
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <%= render "devise/registrations/new", resource: User.new %>
        </div>
      </div>
    </div>
  </div>


</div>





<script>
  <% if @race.route  %>
  var data =  <%= raw @race.route.pathfile %>;
  <% end %>
  console.log(data);
  generate_route(data);

  function generate_route(array){
    var map = L.map('map',{
      center: [43.64701, -79.39425],
      zoom: 15
    });

    var latlngs = array
    var polyline = L.polyline(latlngs, {color: 'red'}).addTo(map);
    map.fitBounds(polyline.getBounds());
    console.log(array);

    L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
      attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);
  }
</script>

