<div class="container race-show-container">
  <div class="row">


    <!-- LEFT PART -->
    <div class="col-xs-12 col-sm-12 col-md-6">

      <div class="show-left">
        <div class="show-left-header">
          <h1><%= @race.name %></h1>


          <!-- INFO HEADER -->
          <div class="container">
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-4 no-padding">
                <div class="header-element">
                  <%=@race.category.upcase%>
                </div>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-4 no-padding">
                <div class="header-element">
                  <%= @race.distance%> km
                  <% if @race.elevation %>
                    <%= @race.elevation%>D+
                  <% end %>
                </div>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-4 no-padding">
                <div class="header-element last">
                  <%=@race.location%>
                </div>
              </div>
              <div class="race-date-header">
                  <i class="fas fa-calendar-alt"></i> <%=@race.date%>
              </div>
            </div>
          </div>

        <!-- RACE INFOS -->

        </div>
        <div class="race-info">

          <div class="race-info-header">
            Race info
          </div>
          <p class ="race-text-description"> <%= @race.description%></p>

          <div class="race-organizer">
            <p >Organizer: <span class="green-highlight"><%= link_to organisation_path(@organizer.id) do%> <%= @organizer.name %> <% end %></span></p>
            <p>Website <span class="green-highlight"><a href="<%= @race.website %>"> <%=@race.website%></a></span></p>
          </div>
          <div class="race-venue">
            <p>Starting Point: <span class="green-highlight"> <%= @race.starting_point %></span> </p>
            <p>Starting time: <span class="green-highlight"><%= @race.starting_time.strftime('%I:%M%p') %></span></p>
          </div>
          <div class="race-goodies">
            <p class=""><span class="green-highlight">Goodies: </span> <%= @race.goodies %></p>
          </div>
        </div>


      </div>
    </div>


<!-- RIGHT PART -->

    <div class="col-xs-12 col-sm-12 col-md-6">
      <div class="show-right">

        <!-- PHOTOS -->
        <div class="photo-container">
          <% if @race.photos %>
            <!-- IMPORT HERE PHOTOS CARROUSEL -->
          <% end %>
        </div>


        <!-- PRICNG -->
        <div class="pricing-container">
          <p class="race-fee-logo">Race fee: <%= humanized_money_with_symbol(@race.fee_cents/100)%></p>
          <% if @race.discount_fee_cents %>
          <p class="alert alert-success"> Enjoy an early bird fee subscription rate of <%= humanized_money_with_symbol(@race.discount_fee_cents)%> until <%= @race.discount_fee_finish %>!</p>
          <% end %>
          <p>The subscription for <%= @race.name %> are opened from the <%= @race.subscription_start.strftime("%e %b %Y ") %> and will close on the <%= @race.subscription_end.strftime("%e %b %Y ") %>. The maximum race capacity is <%= @race.capacity %> participants</p>

          <% if user_signed_in? %>
            <%= link_to "subscribe online", new_race_order_path(@race.id) %>

          <% else %>
            <button type="button" class="button-start" data-toggle="modal" data-target="#exampleModal">
            Launch demo modal
            </button>
          <% end %>
        </div>

      </div>
    </div>
  </div>
</div>

  <%= link_to "Edit your race", edit_race_path(@race.id)  %>
  <%= link_to "Delete Your Race", race_path(@race.id), method: :delete, data: {confirm: 'Are you really wanna delete your Race? If u have some subscription for the race u will not able to complete the cancellation'} %>
  <%= link_to "Manage your photo", new_race_photo_path(@race.id) %>


<% if @race.route %>

  <div id="map" style="height:400px; width: 100%;">
  </div>
<% end %>




<!-- modal for signup
-->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <!-- <h5 class="modal-title" id="exampleModalLabel">Modal title</h5> -->
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <%= render "devise/registrations/new", resource: User.new %>
        </div>
      </div>
    </div>
  </div>







<script>
  <% if @race.route  %>
  var data =  <%= raw @race.route.pathfile %>;
  <% end %>
  console.log(data);
  generate_route(data);

  function generate_route(array){
    var map = L.map('map',{
      center: [43.64701, -79.39425],
      zoom: 15
    });

    var latlngs = array
    var polyline = L.polyline(latlngs, {color: 'red'}).addTo(map);
    map.fitBounds(polyline.getBounds());
    console.log(array);

    L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
      attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);
  }
</script>

