
<div class="profile-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-offset-1 col-sm-10 profile-content">


        <div class="profile-top-part">
          <div class="avatar-left-part">
        <!-- if user has signed in with facebook -->
            <% if @user.facebook_picture_url %>
              <% avatar_url = current_user.facebook_picture_url || "http://placehold.it/100x100" %>
              <div class="avatar-profile-page" style="background-image: url('<%= cl_image_path avatar_url %>')">
              </div>

              <% elsif @user.avatar %>
              <!-- else we show normal user avatar -->

                <div class="avatar-profile-page" style="background-image: url('<%= cl_image_path @user.avatar %>')">
                </div>

            <% end %>
          </div>

          <div class="profile-top-right">

              <% if @user.first_name && @user.last_name %>
                <p class="user-name"><%=@user.first_name%> <%=@user.last_name%></p>
              <% else %>
                <%= @user.email %>
              <% end %>

              <% if @user.group %>
                <p class="user-group">Running club: <%=@user.group%></p>
              <% end %>

            <div class="edit-actions">
              <%= link_to edit_user_registration_path do %>
                <div class="profil-button"> Edit Your Profile</div>
              <% end %>
              <% if @user.organisation %>
                <%= link_to organisation_path(@user.organisation.id) do %>
                  <div class="profil-button"></i> Organiser dashboard</div>
                <% end %>
              <% end %>
            </div>

          </div> <!-- closing profile top right page -->

        </div> <!-- closing profile top page -->



        <div class="user-coming-races">
          <% if @next_races %>

            <h1 class= "lead-2 my-4"> Your coming Races</h1>

              <% @next_races.each do |race| %>
              <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                <div class="card-race">
                  <div class="card-race-header" style="background-image: url('<%= cl_image_path race.photo, height: 300, width: 400, crop: :fill if race.photo.url %>')">
                    <p class="hit-name card-race-title"><%= race.name %></p>
                    <i class="fas fa-map-marker-alt card-race-marker"></i>
                    <p class="hit-name card-race-location"><%= race.location %></p>
                    <div class="star-container">
                      <% 3.times do %>
                      <i class="fas fa-star card-race-star"></i>
                      <% end %>
                      <% (5 - 3).times do %>
                      <i class="far fa-star card-race-star"></i>
                      <% end %>
                    </div>

                    <i class="far fa-heart card-race-favorite"></i>
                  </div>
                  <div class="card-race-body">
                    <p class="hit-name element"><%= race.category %></p>
                    <p class="hit-name element"><%= race.race_distance %> km</p>
                    <p class="hit-name element last"><%= race.date %></p>
                  </div>
                </div>
              </div>
              <% end %>

          <% end %>

        </div> <!-- closing coming races -->

        <div class="user-previous-race"></div>
          <% if @old_races %>

            <h1 class= "lead-2 my-4"> Your previous Races</h1>

              <% @old_races.each do |race| %>
              <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                <div class="card-race">
                  <div class="card-race-header" style="background-image: url('<%= cl_image_path race.photo, height: 300, width: 400, crop: :fill if race.photo.url %>')">
                    <p class="hit-name card-race-title"><%= race.name %></p>
                    <i class="fas fa-map-marker-alt card-race-marker"></i>
                    <p class="hit-name card-race-location"><%= race.location %></p>
                    <div class="star-container">
                      <% 3.times do %>
                      <i class="fas fa-star card-race-star"></i>
                      <% end %>
                      <% (5 - 3).times do %>
                      <i class="far fa-star card-race-star"></i>
                      <% end %>
                    </div>

                    <i class="far fa-heart card-race-favorite"></i>
                  </div>
                  <div class="card-race-body">
                    <p class="hit-name element"><%= race.category %></p>
                    <p class="hit-name element"><%= race.race_distance %> km</p>
                    <p class="hit-name element last"><%= race.date %></p>
                  </div>
                </div>
              </div>
              <% end %>
          <% end %>
         </div> <!-- closing user races -->


       </div> <!-- closing col -->
    </div> <!-- closing row -->
  </div> <!-- closing container -->
</div> <!-- closing profile wrapper -->


