
<div class="profile-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-offset-1 col-xs-10 profile-content">


        <div class="profile-top-part">
          <div class="avatar-left-part">
        <!-- if user has signed in with facebook -->
            <% if @user.facebook_picture_url %>
              <% avatar_url = current_user.facebook_picture_url || "http://placehold.it/100x100" %>
              <div class="avatar-profile-page" style="background-image: url('<%= cl_image_path avatar_url %>')">
              </div>

              <% elsif @user.avatar.url %>
              <!-- else we show normal user avatar -->

                <div class="avatar-profile-page" style="background-image: url('<%= cl_image_path @user.avatar %>')">
                </div>

              <% else %>
                <div class="avatar-organisation-page">
                  <div>
                    <div> <i class="fas fa-image" style="font-size: 50px"></i>
                    </div>
                  </div>
                </div>

            <% end %>
          </div>

          <div class="profile-top-right">

              <% if @user.first_name && @user.last_name %>
                <p class="user-name"><%=@user.first_name%> <%=@user.last_name%></p>
              <% else %>
                <%= @user.email %>
              <% end %>

              <% if @user.group %>
                <p class="user-group"><%= t('users.show.team')%><%=@user.group%></p>
              <% end %>

            <div class="edit-actions">
              <% if user_signed_in? && current_user.id == @user.id  %>
                <%= link_to edit_user_registration_path do %>
                <div class="profil-button"> <%= t('users.show.edit')%></div>
              <% end %>
            <% end %>

              <% if @user.organisation && user_signed_in? && current_user.id == @user.id  %>
                <%= link_to organisation_path(@user.organisation.id) do %>
                  <div class="profil-button"></i> <%= t('users.show.dashbord')%></div>
                <% end %>
              <% end %>
            </div>

          </div> <!-- closing profile top right page -->

        </div> <!-- closing profile top page -->



        <div class="user-coming-races">
          <hr class="hr-text-profile-page" data-content="<%= t('users.show.coming_races')%>">
          <% if @next_races %>
            <div class="container">
              <div class="row">


                  <% @next_races.each do |race| %>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4">
                      <%= link_to race_path(race.id) do %>
                        <div class="card-race">
                          <div class="card-race-header" style="background-image: url('<%= cl_image_path race.photo, height: 300, width: 400, crop: :fill if race.photo.url %>')">
                            <div class="card-race-top-left-container">
                              <p class="hit-name card-race-title"><%= race.name %></p>
                              <i class="fas fa-map-marker-alt card-race-marker"></i>
                              <p class="hit-name card-race-location"><%= race.location %></p>
                              <div class="star-container">
                                <% 3.times do %>
                                <i class="fas fa-star card-race-star"></i>
                                <% end %>
                                <% (5 - 3).times do %>
                                <i class="far fa-star card-race-star"></i>
                                <% end %>
                              </div>
                            </div>

                            <i class="far fa-heart card-race-favorite"></i>
                          </div>
                          <div class="card-race-body">
                            <p class="hit-name element"><%= race.category %></p>
                            <p class="hit-name element"><%= race.race_distance %> km</p>
                            <p class="hit-name element last"><%= race.date %></p>
                          </div>
                        </div>
                      <% end %> <!-- closing hyperlink -->
                    </div>
                  <% end %> <!-- closing loop over races -->
              </div>
            </div>
          <% end %>

        </div> <!-- closing coming races -->

        <div class="user-previous-race">
          <hr class="hr-text-profile-page" data-content= "<%= t('users.show.previous_races')%>">
          <% if @old_races %>
            <div class="container">
                <div class="row">

                  <% @old_races.each do |race| %>
                  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4">
                    <div class="card-race">
                      <div class="card-race-header" style="background-image: url('<%= cl_image_path race.photo, height: 300, width: 400, crop: :fill if race.photo.url %>')">
                        <p class="hit-name card-race-title"><%= race.name %></p>
                        <i class="fas fa-map-marker-alt card-race-marker"></i>
                        <p class="hit-name card-race-location"><%= race.location %></p>
                        <div class="star-container">
                          <% 3.times do %>
                          <i class="fas fa-star card-race-star"></i>
                          <% end %>
                          <% (5 - 3).times do %>
                          <i class="far fa-star card-race-star"></i>
                          <% end %>
                        </div>

                        <i class="far fa-heart card-race-favorite"></i>
                      </div>
                      <div class="card-race-body">
                        <p class="hit-name element"><%= race.category %></p>
                        <p class="hit-name element"><%= race.race_distance %> km</p>
                        <p class="hit-name element last"><%= race.date %></p>
                      </div>
                    </div>
                  </div>
                  <% end %>
                </div>
              </div>

            <% end %>
          </div> <!-- closing previous races -->
         </div> <!-- closing user races -->


       </div> <!-- closing col -->
    </div> <!-- closing row -->
  </div> <!-- closing container -->
</div> <!-- closing profile wrapper -->
