<div class="navbar-rundb">
  <!-- Logo -->
  <%= link_to image_tag("rundb_logo_green.png", style: "height: 28px;"), root_path %>


  <!-- Right Navigation -->
  <div class="navbar-rundb-right hidden-xs hidden-sm">


    <% if user_signed_in? %>
    <!--     if user has organisation code -->
      <%= link_to new_organisation_path, class: "navbar-rundb-link" if !current_user.organisation do%> <%= t('shared._navbar.becomeraceorganizer') %> <% end %>
      <% if current_user.organisation  %>
        <%= link_to organisation_path(current_user.organisation.id), class: "navbar-rundb-link" do%>
        <%= t('shared._navbar.organisation_dash') %>
        <% end %>
      <% end %>
      <%= link_to user_path(current_user.id), class: "navbar-rundb-link" do %>
      <%= t('shared._navbar.my_profile') %>  <% end %>
    <% else %>
    <div class="orga-call"><%= t('shared._navbar.raceorganizer?') %> </div>
    <%= link_to new_user_registration_path , class: "button-orga-start" do %>
    <%= t('shared._navbar.addyourrace') %>
    <% end %>
    <% end %>



    <!-- Profile picture with dropdown list -->
    <div class="navbar-wagon-item">
      <div class="dropdown">
       <% if !user_signed_in? %>
       <a class="navbar-rundb-link" data-toggle="modal" data-target="#signUp">
        Sign Up
      </a>
      <a class="navbar-rundb-link" data-toggle="modal" data-target="#signIn">
        Sign In
      </a>


      <% elsif user_signed_in? && !current_user.avatar && !current_user.facebook_picture_url%>
      <img src="http://placehold.it/30x30" class="avatar dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown">
      <ul class="dropdown-menu dropdown-menu-right navbar-rundb-dropdown-menu">
        <li><%= link_to user_path(current_user.id) do %> <%= t('shared._navbar.my_profile') %> <% end %>
        </li>

        <% if user_signed_in?%>
        <%= link_to "Logout", destroy_user_session_path,  :method=>'delete', class: "" %>
        <% end %>
      </li>
    </ul>


    <% elsif user_signed_in? && !current_user.avatar && current_user.facebook_picture_url %>
    <% avatar_url = current_user.facebook_picture_url || "http://placehold.it/30x30" %>
    <%= image_tag avatar_url, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>

    <ul class="dropdown-menu dropdown-menu-right navbar-rundb-dropdown-menu">
      <li><%= link_to  user_path(current_user.id) do %>  <%= t('shared._navbar.my_profile') %> <% end %>

        <% if user_signed_in?%>
        <%= link_to "Logout", destroy_user_session_path,  :method=>'delete', class: "" %>
        <% end %>
      </li>
    </ul>



    <% elsif user_signed_in? && current_user.avatar  %>
    <%= cl_image_tag current_user.avatar.url, crop: :fill, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown"%>
    <ul class="dropdown-menu dropdown-menu-right navbar-rundb-dropdown-menu">
      <li><%= link_to "My profile", user_path(current_user.id), class: "" %>
      </li>

      <li>
        <% if user_signed_in?%>
        <%= link_to "Logout", destroy_user_session_path,  :method=>'delete', class: "" %>
        <% end %>
      </li>
    </ul>
  </div>
</li>

</div>





<ul class="dropdown-menu dropdown-menu-right navbar-rundb-dropdown-menu">
  <li><%= link_to user_path(current_user.id) do %> <%= t('shared._navbar.my_profile') %> <% end %>
  </li>

  <li>
    <%= link_to "Logout", destroy_user_session_path,  :method=>'delete', class: "" %>

  </li>
</ul>
<% end %>




</div>
</div>




</div>

<!-- Dropdown appearing on mobile only -->
<div class="navbar-rundb-item hidden-md hidden-lg">
  <div class="dropdown">
    <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
    <ul class="dropdown-menu dropdown-menu-right navbar-rundb-dropdown-menu">
      <li><a href="#">Logout</a></li>
    </ul>
  </div>
</div>
<% if user_signed_in? && current_user.facebook_picture_url %>
<% end %>
</div>
</div>

<!-- Button trigger modal -->


<!-- Modal -->


<div class="modal fade pt-0" id="signUp" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-login modal-position" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>


        <%= render "devise/registrations/new", resource: User.new %>
      </div>
    </div>
  </div>
</div>

<div class="modal test fade " id="signIn" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-login modal-position " role="document">
    <div class="modal-content modal-login">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>

        <%= render "devise/sessions/new", resource: User.new %>
      </div>
    </div>
  </div>
</div>







