<div class="navbar-rundb">
  <!-- Logo -->
  <%= link_to image_tag("rundb_logo_green.png", style: "height: 28px;"), root_path %>


  <!-- Right Navigation -->
  <div class="navbar-rundb-right hidden-xs hidden-sm">


    <% if user_signed_in? %>
    <div class="orga-call">Race Organizer? </div>
    <%= link_to "List your Race", races_path, class: "button-orga-start" %>

    <% end %>

    <% if user_signed_in? && current_user.first_name %>
    <p class="mr-5" style= "font-size: 14px; color:#6f706d">Welcome <%= current_user.first_name %>!</p>
    <% elsif user_signed_in? && !current_user.first_name %>
    <p class="mr-5" style= "font-size: 14px; color: #6f706d">Welcome on Run-db!</p>

    <% end %>

    <!-- Profile picture with dropdown list -->
    <div class="navbar-wagon-item">
      <div class="dropdown">
       <% if !user_signed_in? %>
       <a class="navbar-rundb-link" data-toggle="modal" data-target="#signUp">
        Sign Up
      </a>
      <a class="navbar-rundb-link" data-toggle="modal" data-target="#signIn">
        Sign In
      </a>


      <% elsif user_signed_in? && !current_user.avatar && !current_user.facebook_picture_url%>
      <img src="http://res.cloudinary.com/dxkimzdwk/image/upload/v1519720241/w2m3mpadakagaim0uf30.jpg" class="avatar dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown">
      <ul class="dropdown-menu dropdown-menu-right navbar-rundb-dropdown-menu">
        <li><%= link_to "Profile", user_path(current_user.id), class: "" %>
        </li>
        <li><%= link_to "Your races", class: "" %>
        </li>
        <li>
          <% if user_signed_in?%>
          <%= link_to "Logout", destroy_user_session_path,  :method=>'delete', class: "" %>
          <% end %>
        </li>
      </ul>


      <% elsif user_signed_in? && !current_user.avatar && current_user.facebook_picture_url %>
      <% avatar_url = current_user.facebook_picture_url || "http://placehold.it/30x30" %>
      <%= image_tag avatar_url, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>

      <ul class="dropdown-menu dropdown-menu-right navbar-rundb-dropdown-menu">
        <li><%= link_to "Profile", user_path(current_user.id), class: "" %>
        </li>
        <li><%= link_to "Your races", class: "" %>
        </li>
        <li>
          <% if user_signed_in?%>
          <%= link_to "Logout", destroy_user_session_path,  :method=>'delete', class: "" %>
          <% end %>
        </li>
      </ul>



      <% elsif user_signed_in? && current_user.avatar  %>
      <%= cl_image_tag current_user.avatar.url, crop: :fill, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown"%>
      <ul class="dropdown-menu dropdown-menu-right navbar-rundb-dropdown-menu">
        <li><%= link_to "Profile", user_path(current_user.id), class: "" %>
        </li>
        <li><%= link_to "Your races", class: "" %>
        </li>
        <li>
          <% if user_signed_in?%>
          <%= link_to "Logout", destroy_user_session_path,  :method=>'delete', class: "" %>
          <% end %>
        </li>
      </ul>
    </div>
  </li>

</div>





<ul class="dropdown-menu dropdown-menu-right navbar-rundb-dropdown-menu">
  <li><%= link_to "Profile", user_path(current_user.id)%>
  </li>
  <% if !current_user.organisation.nil? %>
  <li><%= link_to "Your races", class: "" %>
  </li>
  <li>
    <%= link_to "Logout", destroy_user_session_path,  :method=>'delete', class: "" %>
    <% end %>
  </li>
</ul>
<% end %>




</div>
</div>




</div>

<!-- Dropdown appearing on mobile only -->
<div class="navbar-rundb-item hidden-md hidden-lg">
  <div class="dropdown">
    <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
    <ul class="dropdown-menu dropdown-menu-right navbar-rundb-dropdown-menu">
      <li><a href="#">Host</a></li>
      <li><a href="#">Trips</a></li>
      <li><a href="#">Logout</a></li>
    </ul>
  </div>
</div>
<% if user_signed_in? && current_user.facebook_picture_url %>
<% end %>
</div>
</div>

<!-- Button trigger modal -->


<!-- Modal -->


<div class="modal fade" id="signUp" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-login" role="document">
    <div class="modal-content">
      <div class="modal-header modal-header-custom">
        <!-- <h5 class="modal-title" id="exampleModalLabel">Modal title</h5> -->
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= render "devise/registrations/new", resource: User.new %>
      </div>
    </div>
  </div>
</div>

<div class="modal test fade " id="signIn" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-login " role="document">
    <div class="modal-content modal-login">
      <div class="modal-header modal-header-custom">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= render "devise/sessions/new", resource: User.new %>
      </div>
    </div>
  </div>
</div>







