


<div class="container payment-container">
  <div class="row mt-5 pt-5">
    <div class="col-md-6 mx-auto text-center order-confirm py-5">
      <h3>Registration confirmation </h3>
      <p class ="lead"> Your detail for the registration at
       <%= @race.name %> </p>
       <p class ="lead"><strong>Status</strong>: <%= @order.state %> <i class="fas fa-check-circle confirmation-ok"></i></p>
       <% if @order.state != "paid"%>
       <p> There were some error in the payment process! Please try to book again</p>
       <% end %>
       <p><strong>Amount</strong>: <%= humanized_money_with_symbol(@order.amount) %></p>

       <div class=" box-bottom mt-5 d-flex justify-content-between align-items-center">
         <div><a href="" onclick="window.print()"
           class ="btn show-order-buttons ">Print <i class="fas fa-print"></i> </a></div>
           <div>       <%= link_to 'Back to your profile', user_path(current_user.id), class: "btn show-order-buttons" %>
           </div>
           <div>           <%= link_to 'Back to the race page', race_path(@race.id), class: " btn show-order-buttons" %>
           </div>
         </div>
       </div>
     </div>
   </div>
