


<div class="container payment-container">
  <div class="row mt-5 pt-5">
    <div class="col-md-6 mx-auto text-center order-confirm">
      <h1>Registration confirmation </h1>
      <h4> Your detail for the registration at
       "<%= @race.name %>"" </h4>
       <p>Status: <%= @order.state %> <i class="fas fa-check-circle confirmation-ok"></i></p>
       <% if @order.state != "paid"%>
       <p> There were some error in the payment process! Please try to book again</p>
       <% end %>
       <p>Race ID: <%= @order.race_sku %></p>
       <p>Amount: <%= humanized_money_with_symbol(@order.amount) %></p>

       <div class=" box-bottom">

       <a href="" onclick="window.print()"
       >Print <i class="fas fa-print"></i> </a>  <br>
       <%= link_to 'Back to your profile', user_path(current_user.id) %> <br>
       <%= link_to 'Back to the race page', race_path(@race.id) %>
       </div>
     </div>
   </div>
 </div>
