


<div class="banner">
  <div class="banner-content">
    <%= image_tag "rundb_logo_white_shad.png", class: "logo-banner" %>
   <!--  <div class="fixed-block">
      <h2>Build your unique race experience</h2>
    </div> -->
    <%= link_to "Start now", races_path, class: "button-start" %>


    <div id="text-carousel" class="carousel slide" data-ride="carousel">
    <!-- Wrapper for slides -->
    <div class="row">
        <div class="col-xs-12">
            <div class="carousel-inner">
                <div class="item active">
                    <div class="carousel-content">
                        <div>
                            <p>Browse an extensive races database, and find the one that fits your expectations</p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="carousel-content">
                        <div>
                            <p> Make sure you don't miss races around you, or while you are traveling</p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="carousel-content">
                        <div>
                            <p>Race organiser? List your race on our platform. Rundb also manages race registration for you</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- Controls -->
    <a class="left carousel-control" href="#text-carousel" data-slide="prev">
    <%= image_tag "arrow_right.png", class: "arrow-carrousel", style:"transform: rotate(180deg)"%>
  </a>
 <a class="right carousel-control" href="#text-carousel" data-slide="next">
    <%= image_tag "arrow_right.png", class: "arrow-carrousel"%>
  </a>

</div>




    </div>
  </div>


<p class="discover">Discover popular races near you</p>

<!-- bouncing arrow
-->

<div class="arrow bounce">
  <%= image_tag "arrow_down.png", class: "arrow_down"%>

</div>

<div class="card-race-wrapper">
  <div class="container">
    <div class="row">
      <% @nearby_races.first(9).each do |race| %>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4">
          <a href="races/<%= race.id %>">
          <div class="card-race">
            <div class="card-race-header" style="background-image:linear-gradient(rgba(0, 0, 0, 0.23), rgba(0, 0, 0, 0)), url('http://res.cloudinary.com/dxkimzdwk/image/upload/v1519895648/suuntoutmb.jpg')">

              <p class="card-race-title"><%= race.name %></p>

              <i class="fas fa-map-marker-alt card-race-marker"></i>

              <p class="card-race-location"><%= race.location %></p>

              <div class="star-container">
                <% if race.race_avg_rate %>
                  <% (race.race_avg_rate/2).round(0).times do %>
                    <i class="fas fa-star card-race-star"></i>
                  <% end %>
                  <% (5 - race.race_avg_rate/2).round(0).times do %>
                    <i class="far fa-star card-race-star"></i>
                  <% end %>
              <% end %>

                </div>

              <i class="far fa-heart card-race-favorite"></i>

            </div>

            <div class="card-race-body">
              <p class="element"><%= race.category %></p>
              <p class="element"><%= race.race_distance %>km</p>
              <p class="element last"><%= race.reviews.size %> reviews</p>
            </div>
          </div>
        </a>
      </div>
      <% end %>

    </div>
  </div>
</div>
