
<div class="container py-5">
  <div class="row py-4">
    <div class="col-sm-12 text-center">
            <div class="progress" style="height: 25px">
        <div class="progress-bar" role="progressbar" style=" width: 66%;" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100"> Step 2/3 - Insert some photo of your race  </div>
      </div>

      <h1>Insert Your Race Photos</h1>
      <p> You can come back and add some photos later</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 my-5 mx-auto text-center">
      <div class="form-group py-auto">
       <%= simple_form_for ([@race, @photo]) do |f| %>
       <%= f.input :photo, class: "form-control-file mx-auto"%>
                <%= f.submit "Upload!", class: "btn btn-primary" %>
       <% end %>
       <p>or </p>
       <%= link_to new_race_route_path(@race.id) do %>
       <button class="btn btn-primary btn-lg"> Go to the last step And Upload your route</button>
       <% end %>
     </div>
   </div>
 </div>
  <% if @race.photos %>
 <div class="row">
  <div class="col-md-6 mx-auto text-center">
    <h2 class= "display-4 mb-4"> Manage your photos</h2>
  </div>
</div>
<% end %>

<div class="row d-flex justify-content-start">
    <% @photos.each do |photo| %>
    <div class= "p-2 mb-3">
      <%= cl_image_tag photo.photo.url(:preview), crop: :fill, class: "img-fluid"%>
      <%= link_to race_photo_path(@race.id, photo.id), method: :delete, class: "d-block" do%>
      <i class="fas fa-trash mt-3" style= "font-size: 20px"></i>
          <% end %>

    </div>
    <% end %>

</div>



</div>
