
<div class="container py-5 add-photo-container">
  <div class="row py-4">
    <div class="col-sm-12 text-center">
      <div class="progress" style="height: 25px">
        <div class="progress-bar" role="progressbar" style=" width: 66%;" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100"> <%= t('photos.new.step2') %></div>
      </div>
      <h1 class="step-title"> <%= t('photos.new.insert') %></h1>
      <p class ="lead"> <%= t('photos.new.come_back') %></p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 mx-auto text-center foto-form-box">
      <div class="form-group py-auto">


       <%= simple_form_for  ([@race, @photo]), html: { class: "form-horizontal"} do |f| %>
       <%= f.input :photo, class: "form-control-file mx-auto", style: "margin: 0 auto;" %>
       <%= f.submit "Upload!", class: "btn upload-button" %>
       <% end %>
       <p>or </p>
       <%= link_to new_race_route_path(@race.id) do %>
       <button class="btn go-to-route">  <%= t('photos.new.go_to_route') %></button>
       <% end %>
     </div>
   </div>

 </div>


 <% if @race.photos.any? %>
 <div class="row">
  <div class="col-md-6 mx-auto text-center">
    <h1 class="step-title"><%= t('photos.new.manage_photo') %></h1>
  </div>
</div>
<div class="row">
  <div class="card-deck">
    <% @photos.each do |photo| %>
    <div class="card card-photo">
      <%= cl_image_tag photo.photo.url(:avatar), crop: :fill, class: "card-img-top mb-3", width: "170", height: "170"%>
      <div class="card-block">
        <%= link_to race_photo_path(@race.id, photo.id), method: :delete, class: "mt-4" do%>
        <button class="delete-button btn btn-small btn-danger mb-0">    <i class="fas fa-trash mt-0 mr-3" style= "font-size: 20px"> </i><%= t('photos.new.delete') %></button>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>
</div>
<% end %>


</div>
