<%= simple_form_for([race, review], remote: true) do |f| %>

  <div class="new-review-container">
    <div class="new-review-description">
      <%= f.input :description, as: :text, label: "Please leave a review for this race" %>
    </div>

    <div class="new-review-rates">
      <%= f.input :route_rate, collection: 1..10 %>
      <%= f.input :organisation_rate, collection: 1..10 %>
      <%= f.input :value_for_money, collection: 1..10 %>
    </div>

    <div class="new-review-button-container">
      <%= f.button :submit, class: "add-review-button", id: "add-review-btn" %>
    </div>
  </div>

<% end %>
