<div class="existing-review">

        <!-- AVATAR -->
        <div class="existing-review-user">

          <% if review.user.avatar.url %>
            <div class="avatar-review" style="background-image: url('<%= image_path review.user.avatar.url %>')">
            </div>
          <% else %>
            <div class="avatar-review" style="background-image: url(<%= asset_path 'nophoto.png' %>)">
            </div>
          <% end %>

          <% if review.user.first_name && review.user.last_name %>
          <p><%= review.user.first_name %> <br> <%=  review.user.last_name %></p>
          <% else %>
          <p> Runner <%= review.user.id %>
           <% end %>
          <% if review.created_at %>
            <p class="review-date"><%= (review.created_at).strftime("%F") %></p>
          <% end %>

         </div>
         <!-- RATES  -->
         <div class="existing-review-rate">
          <div class="review-rates-wrapper">

            <div class="race-rates"><%= t('reviews._show.route') %> <span class="green-highlight"><%= review.route_rate.round(0) %> / 10</span>
            </div>
            <div class="progress">
              <div class="progress-bar" style="width:<%= review.route_rate*10 %>%">
              </div>
            </div>
            <div class="race-rates"><%= t('reviews._show.org') %> <span class="green-highlight"><%= review.organisation_rate.round(0) %> / 10</span>
            </div>
            <div class="progress">
              <div class="progress-bar" style="width:<%= review.organisation_rate*10 %>%">
              </div>
            </div>
            <div class="race-rates"><%= t('reviews._show.value') %><span class="green-highlight"><%= review.value_for_money.round(0) %> / 10</span>
            </div>
            <div class="progress">
              <div class="progress-bar" style="width:<%= review.value_for_money*10 %>%">
              </div>
            </div>
          </div>

        </div>
        <div class="existing-review-content">
          <p><%= review.description %></p>
        </div>
      </div>
