<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Rundb</title>
  <%= csrf_meta_tags %>
  <%= action_cable_meta_tag %>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

  <%= stylesheet_link_tag 'application', media: 'all' %>

  <link rel="icon" href="http://res.cloudinary.com/dxkimzdwk/image/upload/v1519960828/iconrundbgrey.png">
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/instantsearch.js@2.5.2/dist/instantsearch.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/instantsearch.js@2.5.2/dist/instantsearch-theme-algolia.min.css">




  <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
</head>
<body>
  <%= render 'shared/navbar' %>
  <%= render 'shared/flashes' %>
    <%= yield %>

  <%= javascript_include_tag 'application' %>
  <script src="https://cdn.jsdelivr.net/react/15.5.4/react.min.js" async></script>
<script src="https://cdn.jsdelivr.net/react/15.5.4/react-dom.min.js" async></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCH0sbuaIoH7zlsrufIdtx2pclD-_MmUXk" async></script>
  <script src="https://cdn.jsdelivr.net/npm/instantsearch.js@2.5.2"></script>
  <script src="https://cdn.jsdelivr.net/instantsearch-googlemaps/1/instantsearch-googlemaps.min.js" async></script>

  <%= javascript_pack_tag 'application' %>
</body>

</html>
